/* Base Styles */
html {font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);}
body {margin:0;}
button, input, select, textarea {color:#000;font-family:Arial, sans-serif;font-size:14px;}
input:focus, textarea:focus {outline:none;}
textarea {resize:vertical;}
img {border:0;-ms-interpolation-mode:bicubic;vertical-align:baseline;}
video {display:inline-block;}
ul,ol {margin:0;padding:0;list-style:none;}
dl,dt,dd,figure {margin:0;padding:0;}
li {margin:0;}
table {border-collapse:collapse;border-spacing:0;}
td {vertical-align:top;padding:0;}
th {text-align:left;}
blockquote {margin:18px 40px;}
pre, code, kbd, samp {font-family:monospace;font-size:1em;}
pre {white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q {quotes:none;}
q:before {content:"\"";position:absolute;left:-5px;}
q:after {content:"\"";}
sub, sup {line-height:0;position:relative;vertical-align:baseline;}
sup {top:-0.65em;}
sub {bottom:-0.25em;}
form {margin:0;}	
fieldset {border:0;margin:0;padding:0;}
label {cursor:pointer;}
hr {display:block;height:0;border:0;border-top:1px solid #bebebb;border-bottom:1px solid #bebebb;margin:10px 0;padding:0;clear:both;}
h1, h2, h3, h4, h5, h6, p {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
}